<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔 로그 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
        <encoder>
            <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
            <pattern>[%d{MM-dd HH:mm:ss:ns}] %highlight([%-5p]) [%c{1}.%M-%3L] %m %n</pattern>
        </encoder>
    </appender>

    <appender name="SIMPLE_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
        <encoder>
            <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
            <pattern>[%d{MM-dd HH:mm:ss.ns}] %boldMagenta([Quietjun:]) %highlight([%-5p]) [%c{1}.%M-%3L] %boldBlue(%m) %n</pattern>
        </encoder>
    </appender>

    <!-- 날짜별 로그 -->
    <property name="LOG_HOME" value="./logs" />
    <appender name="DAILYOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/multiplex.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/arch/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{HH:mm:ss}] %highlight([%-5p]) [%c{1}.%M-%3L] %m %n</pattern>
        </encoder>
    </appender>


    <!-- root 로거 기본 설정 -->
    <logger name="com.quietjun" level="trace" additivity="false">
        <appender-ref ref="SIMPLE_STDOUT" />
    </logger>
    <!-- <logger name="org.hibernate.type" level="trace"></logger> -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="DAILYOUT" /> -->
    </root>
</configuration> 