<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletJsp</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/ch04/error/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ch04/error/error500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
    <location>/ch04/error/arrayproblem.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>com.andy.math_function.tld</taglib-uri>
      <taglib-location>/WEB-INF/tlds/math_function.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.andy.ch02.HelloServlet</servlet-class>
    <init-param>
      <param-name>greetingText</param-name>
      <param-value>안녕하세요.</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hithere</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>andy</param-value>
  </context-param>
  <context-param>
    <param-name>file</param-name>
    <param-value>/WEB-INF/config.properties</param-value>
  </context-param>
</web-app>