<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="dbconfig.properties">
		<property name="additional" value="some resource" />
	</properties>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<!-- TODO: 사용하려는 DTO에 대한 alias를 등록하시오. -->

		<!-- END: -->
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<!-- TODO: DB 접속을 위한 설정을 추가하시오. -->

				<!-- END: -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- TODO: 사용하려는 mapper들을 추가하시오. -->

		<!-- END: -->
	</mappers>
</configuration>